body {
	font-family: Verdana, serif;
}
h1 {
	font-size: 23px;
	display: inline;
}
h2 {
	margin-bottom: 20px;
}
a:focus {
	color: #fff;
	text-decoration: none;
}
.container {
	padding-left: 0;
	padding-right: 0;
}

.header-page {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.logo-header {
	width: 29%;
}
.header-registration {
	width: 20%;
}
.header-second-banner {
	width: 24%;
	text-align: center;
}
.header-feedback {
	width: 20%;
}
.logo-header-link {
	color: #aad155;
	font-size: 23px;
	text-transform: uppercase;
}
.logo-header-link:hover {
	text-decoration: none;
}
.cedrus-btn {
	background: #aad155;
	transition: all .2s linear;
	border: none;
	font-size: 17px;
	color: #fff;
	text-transform: none;
	border-radius: 5px;
	padding: 5px 10px;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}
.cedrus-btn:hover {
	color: #000;
	background-color: #f2d14f;
	text-decoration: none;
}
.heared-second-banner {
	width: 20%;
}
.header-btn-registration, .header-btn-in, .header-phone, .header-feedback-btn {
	margin-top: 15px;
}
.header-second-banner img {
	max-height: 100%;
	width: 60%;
}
.video-instruction {
	text-align: center;
}
.btn-video-instruction {
	width: 40%;
	margin: 30px auto;
}
.advantages-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.advantages-item {
	width: 24%;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	font-size: 20px;
	position: relative;
	height: 182px;
}
.panel-group {
	margin: 20px 0 40px 0;
}
.title-center {
	text-align: center;
}
.forms-accordeon {
	display: flex;
	justify-content: space-between;
}
.forms-accordeon-block {
	display: inline-block;
	width: 47%;
}
option[default] {
	display: none;
}
#file-upload input[type="file"]{
	display: none;
}
.accordeon-input {
	margin-bottom: 15px;
	font-weight: bold;
	width: 100%;
	border: 1px solid #556772;
	height: 35px;
	padding: 0 10px;
}
.accordeon-input-textarea {
	margin-bottom: 15px;
	font-weight: bold;
	width: 100%;
	border: 1px solid #556772;
	resize: none;
	padding: 5px 10px;
}
.footer-page {
	display: flex;
}
.footer-copyright {
	width: 50%;
}
.footer-copyright-text {
	width: 60%;
	display: block;
	margin: 0 auto 15px auto;
}
.footer-copyright-text-link a {
	color: #fff;
}
.footer-copyright-text-link a:hover {
	color: #b7c3c9;
	text-decoration: none;
}
.preference-item {
	list-style: none;
	padding: 5px 15px;
	background-color: #EAF4D5;;
	margin-bottom: 5px;
	margin-left: -40px;
	font-size: 22px;
}
.preference-item-yellow {
	background-color: #FBEFC3;
}
.footer-page {
	background-color: #73868f;
	color: #fff;
	padding: 20px 0;
}
.footer-contact-item {
	text-align: center;
}
.footer-contact-item a {
	color: #fff;
}
.footer-contact-item-tel a {
	font-size: 28px;
	color: #fff;
}
.footer-contact-item a:hover {
	color: #b7c3c9;
	text-decoration: none;
}
.footer-network {
	font-size: 30px;
}
.footer-contact-item-link {
	display: flex;
	justify-content: space-between;
}
.footer-contact {
	width: 50%;
}
.preference-block {
	margin-bottom: 40px;
}
.advantages-track {
	background-image: url("images/28-02-2449200_1.jpg");
	background-size: cover;
}
.opacity-block {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
}
.advantages-item-text {
	padding: 15px;
	position: relative;
}
.advantages-brigadir {
	background-image: url("images/img-12.jpg");
	background-size: cover;
}
.advantages-stroy {
	background-image: url("images/9563f19a2ffe0da8630b55e86267effc-768x574.jpg");
	background-size: cover;
}
.advantages-brigada {
	background-image: url("images/940.png");
	background-size: cover;
}
.title-history {
	font-size: 36px;
	text-align: center;
	display: block;
	margin-bottom: 30px;
}
.total-stored {
	font-size: 20px;
	text-align: center;
	font-style: italic;
}
.stored-history-title {
	margin-bottom: 20px;
	font-size: 19px;
}
.stored-link {
	color: #000;
}
.stored-link:hover {
	color: #b7c3c9;
	text-decoration: none;
}
#file-upload label {
	display: block;
	cursor: pointer;
}
.advantages-item-text-grey {
	color: #AFABAB
}
.preference-item-grey {
	background-color: #E6E6E6;
	color: #AFABAB
}
.modal-forms {
	margin-top: 35px;
}
@media(max-width: 991px) {
	.logo-header {
		width: 35%;
	}
}
@media(max-width: 767px) {
	.header-page {
		flex-wrap: wrap;
	}
	.logo-header {
		width: 50%;
	}
	.header-registration {
		width: 50%;
	}
	.header-second-banner {
		width: 50%;
	}
	.header-feedback {
		width: 50%;
	}
	.advantages-block {
		flex-wrap: wrap;
	}
	.advantages-item {
		width: 50%;
	}
}
@media(max-width: 529px) {
	.advantages-item {
		width: 100%;
		margin-bottom: 15px;
	}
	.btn-video-instruction {
		width: 100%;
	}
	.footer-copyright-text {
		width: 90%;
	}
	.forms-accordeon {
		flex-wrap: wrap;
	}
	.forms-accordeon-block {
		width: 100%;
	}
	.footer-page {
		flex-wrap: wrap;
	}
	.footer-copyright {
		width: 100%;
	}
	.footer-contact {
		width: 100%;
	}
	.logo-header {
		width: 100%;
	}
	.header-feedback {
		width: 100%;
	}
}

.b-orders__order__data__button_list{
	display: block;
	background: #323747;
	font-weight: bold;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 12px;
}